<div class="card bg-transparent">
    <div class ="post-preview row g-0 flex-md-row-reverse" onclick="location.href='{{url}}'" style="cursor: pointer;">
        {% assign card_body_col = '12' %}

        {% if image %}
          {% assign src = image.path | default: image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if image.lqip %}
            {% capture lqip %}lqip="{{ image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <div class="preview-img" style="height:100%;display: flex;flex-direction: column;justify-content: center;">
              <img src="{{src}}" alt="{{alt}}" {{lqip}}>
            </div>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-7"> 
            <div class="card-body d-flex flex-column">
                <h1 class="card-title my-2 mt-md-0" style="font-size:1.25rem;font-weight: 400;color: var(--heading-color);">{{ title }}</h1>
                <div class="card-text mt-0" style="overflow: hidden;overflow-wrap: break-word;color:var(--text-color);">
                    <p>{{ description }}</p>
                </div>
                <span style="color:var(--text-muted-color); -webkit-line-clamp:3;">
                  {{ domain }}
                </span>
            </div> 
        </div>
    </div>
</div>